@model SAT.DATA.EF.Models.StudentStatus

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Create</h1>

<h4 class="text-center">StudentStatus</h4>
<hr />
<div class="row">
    <div class="offset-3 col-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ssname" class="control-label"></label>
                <input asp-for="Ssname" class="form-control" />
                <span asp-validation-for="Ssname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ssdescription" class="control-label"></label>
                <input asp-for="Ssdescription" class="form-control" />
                <span asp-validation-for="Ssdescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="offset-5 col-3">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
