@model SAT.DATA.EF.Models.ScheduledClass

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Edit</h1>

<h4 class="text-center">Scheduled Class</h4>
<hr />
<div class="row">
    <div class="offset-3 col-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ScheduledClassId" />
            <div class="form-group">
				<label asp-for="CourseId" class="control-label">Course Name</label>
				<select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseName"></select>
			</div>
			<div class="row">
				<div class="form-group col-4">
					<label asp-for="StartDate" class="control-label"></label>
					<input asp-for="StartDate" class="form-control" />
					<span asp-validation-for="StartDate" class="text-danger"></span>
				</div>
				<div class="form-group col-4">
					<label asp-for="EndDate" class="control-label"></label>
					<input asp-for="EndDate" class="form-control" />
					<span asp-validation-for="EndDate" class="text-danger"></span>
				</div>
				<div class="form-group col-4">
					<label asp-for="Scsid" class="control-label">Status</label>
					<select asp-for="Scsid" class="form-control" asp-items="ViewBag.Scsid"></select>
				</div>
			</div>
			<div class="row">
			<div class="form-group col-6">
				<label asp-for="InstructorName" class="control-label"></label>
				<input asp-for="InstructorName" class="form-control" />
				<span asp-validation-for="InstructorName" class="text-danger"></span>
			</div>
			<div class="form-group col-6">
				<label asp-for="Location" class="control-label"></label>
				<input asp-for="Location" class="form-control" />
				<span asp-validation-for="Location" class="text-danger"></span>
				</div>
			</div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
