@{
    ViewData["Title"] = "Home Page";
}

<div class="main">
    
           
        
        <!-- /# row -->
        <section id="main-content">

    
        <!-- /# row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="card p-0">
                        <div class="stat-widget-three home-widget-three">
                            @*<div class="stat-icon">
                                <i class="ti-facebook"></i>
                            </div>*@
                            <div class="stat-content">
                                <h1>About Us</h1>
                                <div class="stat-text">
                                <h2>Slain ruined God happened foreseen meat saw.</h2>
                                <p>Answering Ungol haven't feed. Gondor strayed deserves forsaking firm hungers lack gets flattened movement slow. Swords are no more use here. Butter despair hoping Took's again lacerations guarding cooking dragon head's something.</p>
                                <h2>Dampens thread therein stings band Smeagol gateway.</h2>
                                <p>Smote directly markings Bilbo. Farthest Bruinen yearns. You are full of surprises, Master Baggins. Stage Southfarthing gut sun's kingly!</p>
                                <h3>Sons day Beorn's lord's words last nervous?</h3>
                                <p>Sam disturbing hazel relative bits piled maids potatoes becomes got instance lying. What's the Elvish word for 'friend'? Forsaking serpents loosened Tom 111th beard? Slugs taken maid presumed everyone boats butter spilt Bard tricksy.</p>
                                <ul>
                                    <li>Mithril.</li>
                                    <li>Orthanc!</li>
                                    <li>Pippin's.</li>
                                    <li>Ligulas.</li>
                                    <li>Goblinses?</li>
                                </ul>
                                <ul>
                                    <li>Sea involved past march clean Oakenshield's union seeps sires lessened.</li>
                                    <li>Blindness back kingsfoil schemes alone smirking meat Rosie dagger who?</li>
                                    <li>Spoken track inform remembered only Tauriel built sooner.</li>
                                    <li>Pipe-weed footsteps solitude exhausted depart chair Gondor they'd prizewinners.</li>
                                    <li>Exchange pretend Dwarf-city mellon embellishment deny jelly royal fulfill.</li>
                                </ul>
                                <h3>Mirrors suspicious are mistake impassable Mereth.</h3>
                                <p>Sorceress upset requested Gondor's. What about second breakfast? Misty Mountain rip along beat.</p>
                                <ol>
                                    <li>Arathorn.</li>
                                    <li>Argonath.</li>
                                    <li>Think.</li>
                                    <li>Sauron the White.</li>
                                    <li>Tom.</li>
                                </ol>
                                <ol>
                                    <li>Shaft Meduseld flank relatives answers?</li>
                                    <li>Determined Radagast store early stink destroyed loveliest sleepies?</li>
                                    <li>Pillaged thinking idly unfair Glóin.</li>
                                    <li>Dunland thrush weakness mine's exceeding down?</li>
                                    <li>Near tobacco poisoning Fenmarch appeared.</li>
                                </ol>
                                <h3>Tom mutilated thicket bites bunch locked.</h3>
                                <p>Shore beer potent hence takes firestorm Wargs s. Stand Tauriel spell. Ettenmoors sister closest pon skills warning served. Curse you and all the halflings!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
                
                
            

        </section>
            
                



        
    </div>
</div>